body{
  left: 0;
	margin: 0;
  /*font-family: 'Open Sans', sans-serif;*/
  color: #CC474B;
	position: relative;
}

* {
    box-sizing: border-box;
}


/*#loader {

}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
}
 
#loader-wrapper .loader-section.section-left {
    left: 0;
}
 
#loader-wrapper .loader-section.section-right {
    right: 0;
}*/

/*_____________________________   MENU    ___________________________*/
.subBody{
}

.menu {
  background: #202024;
  left: -285px;  
  height: 100vh;
  position: fixed;
  width: 285px;

}

.menu ul {
  border-top: 1px solid #CC474B;
  list-style: none;
  margin: 0;
  padding: 0;

}

.menu li {
  border-bottom: 1px solid #CC474B;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.menu a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FD0E35;
}

.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
}

.icon-menu {
  color: black;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-menu img {
  margin-right: 5px;
}



/*  ____________________________   Home Page    _________________________-*/

.homepage{
  text-align: center;
  background-image: url(https://78.media.tumblr.com/74657bc14a6f2acbca87fccb15768c98/tumblr_oilno7lc6C1ryw5evo1_500.gif);
  background-repeat: no-repeat;
  float: center;
  /*background-image: cover;*/
}

.homepage h1{
  font-size: 11em;
  color: crimson;
  text-shadow: 2px 2px black;
  font-family: 'Molle', cursive;
  text-align: center;
}

.intro{
  text-align: center;
  font-size: 3rem;
  background-image: url(images/blackC.png);
  background-repeat: no-repeat;
  background-size: contain;
  float: center;

}




/*--------------------------- Tryunt  ________________________________*/
#pokemonTitleName{
  text-transform: uppercase;
  font-size: 2em;
}

.columnLeft {
    float: left;
    width: 50%;
    padding: 2rem;
    height: 30rem;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 5;
}

.columnLeft h2{
	text-align: center;
}


.fadein { 
	position:relative;
}

.fadein img {
	 position:absolute; 
	 left:0; 
	 top:0; 
}

.slideImage{
  margin: 5rem;
	height: 22rem;
	object-fit: contain;
}

.pokeball{
	width: 50%;
    padding: 10px;
    height: 30rem;
    z-index: 0;
    object-fit: contain;
    position: absolute;
    animation: rotation 50s linear infinite;
}

@keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

.columnRight {
    float: right;
    width: 50%;
    padding: 10px;
    height: 30rem; 
    background-image: url(images/TyruntC.png); 
    background-size: cover;
    background-repeat: no-repeat;
}


.stats{
	
}
.bar{
	margin: 2rem 1rem 2rem 1rem;
	box-shadow: .27rem .27rem rgba(0, 0, 0, 0.5);
}


.hitPoints{
	height: 2rem;
	width: 50%;
	background-color: green;
}

.attack{
   height: 2rem;
   width: 20%;
   background-color: red;
}

.defense{
	height: 2rem;
	width: 60%;
	background-color: orange;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


.bio{
    height: 33rem;
    padding: 4rem;
    background-color: grey;
    color: white;
    z-index: 5;
}

.rotated{
	transform:rotateZ(90deg);
    float: right;
    margin-right: 3rem;
    margin-top: 11rem;
    font-size: 7em;
}



/*))))))))))))))))))))))   Media Queries  ((((((((((((((((((((((((((((((((((((((((((((((*/

@media screen and (max-width: 600px) {
    .columnLeft{
        width: 100%;
    }

    .columnRight{
        width: 100%;
    }
}


















