body{
	background-color: ;
}

* {
    box-sizing: border-box;
}

.columnLeft {
    float: left;
    width: 50%;
    padding: 10px;
    height: 30rem;
    /*background-image: url(images/pokeball.png);*/
    background-size: contain;
    background-repeat: no-repeat;
    /* opacity: 0.3;*/
    z-index: 5;
}

.pokeball{
	 width: 50%;
    padding: 10px;
    height: 30rem;
    z-index: 0;
    object-fit: contain;
    position: absolute;
   /* -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(180deg);*/
    animation: rotation 50s linear infinite;
}


@keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}


.columnRight {
    float: right;
    width: 50%;
    padding: 10px;
    height: 30rem; 
     background-image: url(images/TyruntC.png); 
    background-size: cover;
    background-repeat: no-repeat;
   /* z-index: -1;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);*/
}

.row:after {
    content: "";
    display: table;
    clear: both;
}



.fadein { 
	position:relative; 
/*	width:500px; 
	height:332px; */
	/*width: 17rem;
	line-height: 17rem;*/
	
}

.fadein img {
	 position:absolute; 
	 left:0; 
	 top:0; 
}

.slideImage{
	height: 17rem;
	width: 17rem;
	object-fit: contain;

}



.bar{
	margin: 2rem 1rem 2rem 1rem;
	box-shadow: .27rem .27rem rgba(0, 0, 0, 0.5);
}


.hitPoints{
	height: 2rem;
	width: 5rem;
	background-color: green;
}

.attack{
   height: 2rem;
   width: 7rem;
   background-color: red;
}

.defense{
	height: 2rem;
	width: 6rem;
	background-color: orange;
}







@media screen and (max-width: 600px) {
    .columnLeft{
        width: 100%;
    }

    .columnRight{
        width: 100%;
    }
}


















